<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="border-bottom: 2px solid black;">
    <a class="navbar-brand">Coin Database</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="/gallery" class="nav-item nav-link">View Gallery</a>
            <a href="/" class="nav-item nav-link">Back to Main Page</a>
        </div>
    </div>

</nav>